@font-face {
    font-family: Nerko;
    src: url(./NerkoOne-Regular.ttf);
}

body{
    background-image: url(./shop\ image.jpg);
    background-size: 100%;
}

.container{
    text-align: center;
    background-color: rgb(215, 166, 73);
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7.5%;
    padding: 10px;
    border-radius: 10px;
    max-width: 500%;
    font-family: "Nerko", "sans-serif";
}

hr{
    width: 25%;
    border: solid black;
    border-radius: 10px;
}

.container_borders{
    border: 3.5px solid black;
    padding: 10px;
    border-radius: 5px;
}

.container_borders2{
    border: 3px solid black;
    border-radius: 5px;
}

.title{
    margin-top: 30px;
    letter-spacing: 1px;
    font-family: "Nerko", "sans-serif";
    font-size: 30px;
    text-transform: uppercase;
}

.weekdays,
.weekends,
.sunday,
.location{
    font-size: 17px;
}

img{
    max-width: 100%;
    height: auto;
    float: center ;
    width: 8%;
}

.location{
    padding: 10px;
    display: inline-block;
}

.clearfloat{
    clear: both;
}
